body {
margin: 0%;
width: 100%;
overflow-x: hidden;
background-color: #171310;
}

.block1 {
    width: 100%;
    height: 1151px;
    margin: 0%; 
    /* margin-top: 30px; */
}

.welck_img {
    width: 100%;
    height: 1151px;
    align-items: center;
    margin-left: 0px;
    background-size: 100%;
    object-fit: cover;
}

.text1 {
    font-family: "PT Root UI_Medium" ;
    width: 289px;
    height: 79px;
    line-height: 120%;
    margin-left: 895px;
    margin-right: 303px;
    margin-top: -515px;
    font-size: 22px;
    color: #B0B0B0;
}

/* .block2 {
    width: 100%;
    height: 1556px;
    margin: 0%;
} */


/* .elements_for_info_img1 {
    margin-top: 155px;
    margin-left: 45;
} */



.info_img1 {
    width: 100%;
    height: 1900px;
    align-items: center;
    background-size: 100%;
    margin-top: 238px;
    object-fit: cover;
}

.text2 {
    font-family: "PT Root UI_Medium" ;
    width: 419px;
    height: 104px;
    line-height: 120%;
    margin-left: 895px;
    margin-right: 303px;
    margin-top: -950px;
    font-size: 22px;
    color: #B0B0B0;
}

.text3 {
    font-family: "PT Root UI_Medium" ;
    width: 419px;
    height: 104px;
    line-height: 120%;
    margin-left: 275px;
    margin-right: 303px;
    margin-top: 425px;
    font-size: 22px;
    color: #B0B0B0;
}

.smalltext1 {
    font-family: "PT Root UI_Medium" ;
    width: 267px;
    height: 27px;
    line-height: 130%;
    margin-left: 30px;
    margin-right: 303px;
    margin-top: -850px;
    font-size: 12px;
    color: #B0B0B0;
}

.smalltext2 {
    font-family: "PT Root UI_Medium" ;
    width: 267px;
    height: 32px;
    line-height: 130%;
    margin-left: 217px;
    margin-right: 303px;
    margin-top: 725px;
    font-size: 12px;
    color: #B0B0B0;
    text-align: center;
}

.info_img2 {
    width: 100%;
    height: 1500px;
    align-items: center;
    margin-left: 0px;
    margin-top: 148px;
    background-size: 100%;
    object-fit: cover;
}

.text4 {
    font-family: "PT Root UI_Medium" ;
    width: 407px;
    height: 78px;
    line-height: 120%;
    margin-left: 270px;
    margin-right: 303px;
    margin-top: -1100px;
    font-size: 22px;
    color: #B0B0B0;
}

.textdecor1 {
    font-family: "PT Root UI_Medium" ;
    width: 347px;
    height: 389px;
    line-height: 120%;
    margin-left: 330px;
    margin-right: 303px;
    margin-top: 550px;
    font-size: 22px;
    color: #4A0909;
}

.textdecor2 {
    font-family: "PT Root UI_Medium" ;
    width: 347px;
    height: 389px;
    line-height: 120%;
    margin-left: 330px;
    margin-right: 303px;
    margin-top: -300px;
    font-size: 22px;
    color: #4A0909;
}

.textdecor3 {
    font-family: "PT Root UI_Medium" ;
    width: 347px;
    height: 389px;
    line-height: 120%;
    margin-left: 330px;
    margin-right: 303px;
    margin-top: -270px;
    font-size: 22px;
    color: #4A0909;
}

.info_img3 {
    width: 100%;
    height: 1500px;
    align-items: center;
    margin-left: 0px;
    margin-top: -170px;
    background-size: 100%;
    object-fit: cover;
}

.text5 {
    font-family: "PT Root UI_Medium" ;
    width: 407px;
    height: 78px;
    line-height: 120%;
    margin-left: 555px;
    margin-right: 303px;
    margin-top: -1080px;
    font-size: 22px;
    color: #B0B0B0;
}

.text6 {
    font-family: "PT Root UI_Medium" ;
    width: 220px;
    height: 52px;
    line-height: 120%;
    margin-left: 980px;
    margin-right: 303px;
    margin-top: 110px;
    font-size: 22px;
    color: #B0B0B0;
    text-align: center;
}

.text7 {
    font-family: "PT Root UI_Medium" ;
    width: 303px;
    height: 52px;
    line-height: 120%;
    margin-left: 1145px;
    margin-right: 303px;
    margin-top: 250px;
    font-size: 22px;
    color: #B0B0B0;
    text-align: center;
}

.info_img4 {
    width: 100%;
    height: 3000px;
    align-items: center;
    margin-left: 0px;
    margin-top: 80px;
    background-size: 100%;
    object-fit: cover;
}

.text8 {
    font-family: "PT Root UI_Medium" ;
    width: 449px;
    height: 104px;
    line-height: 120%;
    margin-left: 880px;
    margin-right: 303px;
    margin-top: -2550px;
    font-size: 22px;
    color: #B0B0B0;
}

.text9 {
    font-family: "PT Root UI_Medium" ;
    width: 453px;
    height: 104px;
    line-height: 120%;
    margin-left: 285px;
    margin-right: 303px;
    margin-top: 550px;
    font-size: 22px;
    color: #B0B0B0;
}

.smalltext3 {
    font-family: "PT Root UI_Medium" ;
    width: 80px;
    height: 32px;
    line-height: 130%;
    margin-left: 285px;
    margin-right: 303px;
    margin-top: -290px;
    font-size: 12px;
    color: #B0B0B0;
    text-align: center;
}

.smalltext4 {
    font-family: "PT Root UI_Medium" ;
    width: 122px;
    height: 32px;
    line-height: 130%;
    margin-left: 645px;
    margin-right: 303px;
    margin-top: -32px;
    font-size: 12px;
    color: #B0B0B0;
}

.smalltext5 {
    font-family: "PT Root UI_Medium" ;
    width: 202px;
    height: 32px;
    line-height: 130%;
    margin-left: 1010px;
    margin-right: 303px;
    margin-top: 255px;
    font-size: 12px;
    color: #B0B0B0;  
}

.smalltext5 {
    font-family: "PT Root UI_Medium" ;
    width: 202px;
    height: 32px;
    line-height: 130%;
    margin-left: 1010px;
    margin-right: 303px;
    margin-top: 255px;
    font-size: 12px;
    color: #B0B0B0;
}

.smalltext6 {
    font-family: "PT Root UI_Medium" ;
    width: 247px;
    height: 16px;
    line-height: 130%;
    margin-left: 160px;
    margin-right: 303px;
    margin-top: 555px;
    font-size: 12px;
    color: #B0B0B0;
}

.smalltext7 {
    font-family: "PT Root UI_Medium" ;
    width: px;
    height: 16px;
    line-height: 130%;
    margin-left: 405px;
    margin-right: 303px;
    margin-top: 700px;
    font-size: 12px;
    color: #B0B0B0;
}

.podval {width: 100%;
    height: 1280px;
    align-items: center; 
    margin-left: 0px;
    margin-top: 90px;
    background-size: 100%;
    /* Position: relative */
    object-fit: cover;
 }

 .textdecor4 {
    font-family: "PT Root UI_Medium" ;
    width: 455px;
    height: 495px;
    line-height: 120%;
    margin-left: 180px;
    margin-right: 303px;
    margin-top: -980px;
    font-size: 24px;
    color: #2B2B2B;
}

.textdecor5 {
    font-family: "PT Root UI_Medium" ;
    width: 477px;
    height: 155px;
    line-height: 120%;
    margin-left: 890px;
    margin-right: 303px;
    margin-top: 60px;
    font-size: 24px;
    color: #2B2B2B;
}

/* * {
transform: translateY(50px);

} */

.text1 { margin-top: -500px; }
.text2 { margin-top: -940px; }  
.text3 { margin-top: 435px; }
.smalltext1 { margin-top: -820px; }
.smalltext2 { margin-top: 735px; }
.text4 { margin-top: -1090px; }
.textdecor1 { margin-top: 560px; }
.textdecor2 { margin-top: -290px; }
.textdecor3 { margin-top: -260px; }
.text5 { margin-top: -1065px; }
.text6 { margin-top: 110px; }
.text7 { margin-top: 250px; }
.text8 { margin-top: -2540px; }
.text9 { margin-top: 560px; }
.smalltext3 { margin-top: -295px; }
.smalltext4 { margin-top: -31px; }
.smalltext5 { margin-top: 261px; }
.smalltext6 { margin-top: 550px; }
