body {
margin: 0%;
width: 100%;
overflow-x: hidden;
background-color: #171310;
}

.block1 {
    width: 100%;
    height: 1151px;
    margin: 0%;
}

.welck_img {
    width: 100%;
    height: 1151px;
    align-items: center;
    margin-left: 0px;
    margin-top: -10px;
    background-size: 100%;
    object-fit: cover;
}

.text1 {
    font-family: "PT Root UI_Medium" ;
    width: 289px;
    height: 79px;
    line-height: 120%;
    margin-left: 895px;
    margin-right: 303px;
    margin-top: -515px;
    font-size: 22px;
    color: #B0B0B0;
}

/* .block2 {
    width: 100%;
    height: 1556px;
    margin: 0%;
} */


/* .elements_for_info_img1 {
    margin-top: 155px;
    margin-left: 45;
} */



.info_img1 {
    width: 100%;
    height: 1900px;
    align-items: center;
    background-size: 100%;
    margin-top: 228px;
    object-fit: cover;
}

.text2 {
    font-family: "PT Root UI_Medium" ;
    width: 419px;
    height: 104px;
    line-height: 120%;
    margin-left: 895px;
    margin-right: 303px;
    margin-top: -950px;
    font-size: 22px;
    color: #B0B0B0;
}

.text3 {
    font-family: "PT Root UI_Medium" ;
    width: 419px;
    height: 104px;
    line-height: 120%;
    margin-left: 275px;
    margin-right: 303px;
    margin-top: 500px;
    font-size: 22px;
    color: #B0B0B0;
}

.smalltext1 {
    font-family: "PT Root UI_Medium" ;
    width: 267px;
    height: 27px;
    line-height: 130%;
    margin-left: 30px;
    margin-right: 303px;
    margin-top: -905px;
    font-size: 12px;
    color: #B0B0B0;
}

.smalltext2 {
    font-family: "PT Root UI_Medium" ;
    width: 267px;
    height: 32px;
    line-height: 130%;
    margin-left: 217px;
    margin-right: 303px;
    margin-top: 750px;
    font-size: 12px;
    color: #B0B0B0;
    text-align: center;
}

.info_img2 {
    width: 100%;
    height: 1500px;
    align-items: center;
    margin-left: 0px;
    margin-top: 58px;
    background-size: 100%;
    object-fit: cover;
}

.info_img3 {
    width: 100%;
    height: 1500px;
    align-items: center;
    margin-left: 0px;
    margin-top: -25px;
    background-size: 100%;
    object-fit: cover;
}

.info_img4 {
    width: 100%;
    height: 3000px;
    align-items: center;
    margin-left: 0px;
    margin-top: -472px;
    background-size: 100%;
    object-fit: cover;
}

.podval {
    width: 100%;
    height: 3000px;
    /* align-items: center; */
    margin-left: 0px;
    margin-top: -1200px;
    background-size: 100%;
    /* object-fit: cover; */
}